
<div class="row">
    <div class="col-md-4" *ngFor="let cast of movieCast">
        <div class="row">
            <div class="col-md-3 mb-2" *ngIf="cast.profile_path">
                <img src="https://image.tmdb.org/t/p/original/{{ cast.profile_path }}" class="card-img-top" alt="...">
            </div> 
            <div class="col-md-9" *ngIf="cast.original_title || cast.character">
                <h3>{{ cast.original_title }}</h3>
                <p>{{cast.character}}</p>
            </div>
        </div>
    </div>
</div>